<md-dialog class="order-dialog mobile-fullwidth-dialog" flex="40" flex-xs="100">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex >
                <span translate>Session #</span><span>{{vm.order.id}}</span>
            </h2>
            <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content">
        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Session start</strong>
            </div>
            <div flex>
                <span>{{vm.order.start | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</span>
            </div>
        </div>
        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Session stop</strong>
            </div>
            <div flex>
                <span>{{vm.order.stop | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</span>
            </div>
        </div>

        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Title</strong>
            </div>
            <div flex>
                <span>{{vm.order.title}}</span>
            </div>
        </div>

        <div flex layout="row" class="margin-bottom-10">
            <div flex>
                <strong translate>Description</strong>
            </div>
            <div flex>
                <span>{{vm.order.description}}</span>
            </div>
        </div>


        <md-divider class="margin-bottom-40 margin-top-40"></md-divider>

        <table class="order-dialog-product-table md-table">
            <thead>
                <tr>
                    <th translate>Sensor</th>
                    <th translate>Export in csv</th>
                </tr>
            </thead>
            <tbody>


                <tr>
                    <td>Accelerometer</td>
                    <td><a href="http://localhost:8888/sensor_back/export/?type=a&id={{vm.order.id}}" target="_blank">Export</a></td>

                </tr>
                <tr>
                    <td>Gyroscope</td>
                    <td><a href="http://localhost:8888/sensor_back/export/?type=g&id={{vm.order.id}}" target="_blank">Export</a></td>
                </tr>
                <tr>
                    <td>Magnetometer</td>
                    <td><a href="http://localhost:8888/sensor_back/export/?type=m&id={{vm.order.id}}" target="_blank">Export</a></td>
                </tr>
                <tr>
                    <td>Thermometer</td>
                    <td><a href="http://localhost:8888/sensor_back/export/?type=t&id={{vm.order.id}}" target="_blank">Export</a></td>
                </tr>
                <tr>
                    <td>Errors</td>
                    <td><a href="http://localhost:8888/sensor_back/export/?type=e&id={{vm.order.id}}" target="_blank">Export</a></td>
                </tr>


            </tbody>
        </table>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="vm.okClick()" class="md-primary" aria-label="{{Close | triTranslate}}" translate="Close"></md-button>
    </md-dialog-actions>
</md-dialog>
