$sidenav-mobile-width: 260px;
$sidenav-desktop-width: 300px;

// import angular material scss
@import "angular-material/angular-material.scss";

body {
  color: #212121;
}

// set template font family
button, select, html, textarea, input {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

// import app scss
@import "scss/material-backgrounds";

// Add your CSS here
.md-toolbar-tools {
  background-color: rgb(156, 39, 176);
}

.img_logo_toolbar{
  width: 200px;
}

table.md-table .delete_log_cell, table.md-table .export_log_cell{
  padding: 0;
  width: 1%;
}

.container_new_session{
  display: block;
}


.container_new_session .md-block{
  display: block;
}


.md-tab{
  background-color: #fff!important;
  color: #000!important;
}
.md-tab.md-active{
  color:rgb(156, 39, 176)!important;
}

.zmdi-fullscreen{
  color:#fff;
}

button.md-white-purple-theme{
  color:#fff;
}


/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
